.space-end-end {
    justify-content: space-between;
}

.search-form {
    background-color: aliceblue;
    height: 65px;
}

.search-button {
    height: 65px;
    width: 50px;
}

.title-box {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
}

thead {
    padding-bottom: 50px;
}

th, td {
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.mat-icon-format {
    margin-right: 10px;
    overflow: visible;
}