<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <a class="navbar-brand" href="/dreamer">Interstellarion</a>
    
    <div class="collapse navbar-collapse space-end-end">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"><mat-icon>home</mat-icon></a>
            </li>
            <li>
                <a class="nav-link text-primary" href="/planets"><mat-icon>rocket_launch</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart"><mat-icon>shopping_cart</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile"><mat-icon>account_circle</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#" (click)="onLogout()"><mat-icon>logout</mat-icon></a>
            </li>
        </ul>
        <div class="search-form rounded">
            <form [formGroup]="searchForm" (ngSubmit)="processSearch()">
                <mat-form-field appearance="outline" class="form-field" color="primary" background-color="white">
                    <mat-label>Search</mat-label>
                    <input type="text" style="padding-top: 10px;" aria-label="Search" matInput size="50" placeholder="Type here" formControlName="searchTerm">
                    <button class="bg-dark text-white search-button" mat-raised-button matSuffix type="submit"><mat-icon>travel_explore</mat-icon></button>
                </mat-form-field>       
            </form>
        </div>
    </div>
</nav>

<!-- If Search Term not found -->
<body *ngIf="notFoundDisplay" background="https://xlbucket.sgp1.digitaloceanspaces.com/AvatarCover" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.6)">
    <div class="notfound-box mt-5">
        {{ notFoundMessage }}
    </div>
</body>

<!-- If Search Term returns list of results -->
<body *ngIf="listFoundDisplay" background="https://xlbucket.sgp1.digitaloceanspaces.com/AvatarCover" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.6)">
    <marquee behavior="" direction="">
        In Partnership <mat-icon>handshake</mat-icon> with NinjaAPI 
    </marquee>
    <div>
        <div class="title-box rounded">
            <h2>Search Results</h2>
        </div>
        <table width="100%" style="margin: 0px;" class="table table-hover table-striped">
            <thead>
                <td></td>
                <td><mat-icon class="mat-icon-format">public</mat-icon> Planet</td>
                <td><mat-icon class="mat-icon-format">keyboard_double_arrow_down</mat-icon> Gravity</td>
                <td><mat-icon class="mat-icon-format">hdr_weak</mat-icon>&nbsp;&nbsp; Distance from Parent Star</td>
                <td><mat-icon class="mat-icon-format">brightness_5</mat-icon>&nbsp;&nbsp; Host Star Type</td>
                <td><mat-icon class="mat-icon-format">hourglass_bottom</mat-icon>&nbsp;&nbsp; Est. Travel Time</td>
                <td><mat-icon class="mat-icon-format">paid</mat-icon>&nbsp;&nbsp; Cost of Travel</td>
            </thead>
            <tbody>
                <tr *ngFor="let planet of planetList" [routerLink]="['/planets',planet.name]">
                    <td><img src="{{planet.thumbnailUrl}}" class="rounded-circle"></td>
                    <td><span style="font-weight: bold; font-family:'Courier New', Courier, monospace">{{ planet.name }}</span></td>
                    <td><span>{{ planet.gravity }}m/s<sup>2</sup></span></td>
                    <td><span>{{ planet.semi_major_axis }} AU</span></td>
                    <td><span>{{ planet.star_type }}</span></td>
                    <td><span>{{ planet.travel_time }} Years</span></td>
                    <td><span>S${{ planet.cost }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<!-- If Search Term has only 1 result, design  -->
<body *ngIf="planetFoundDisplay" background="{{soloPlanet.coverUrl}}" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.2)">
    <marquee behavior="" direction="">
        In Partnership <mat-icon>handshake</mat-icon> with NinjaAPI 
    </marquee>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card-group mb-0 mt-5">
                    <div class="card col-2 p-3 profile-box">
                        <h1 style="font-family:'Courier New', Courier, monospace; font-weight: bold;">{{ soloPlanet.name }}</h1>
                        <img class="rounded-circle img-center" src="{{ soloPlanet.thumbnailUrl }}" width="200">
                        <br>
                        <ul class="list-unstyled">
                            <li>
                                <mat-icon class="mat-icon-format">scale</mat-icon> 
                                {{ soloPlanet.mass }} x Mass of Jupiter
                            </li>
                            <li>
                                <mat-icon class="mat-icon-format">keyboard_double_arrow_down</mat-icon> 
                                <span>{{ soloPlanet.gravity }} m/s<sup>2</sup></span> 
                            </li>
                            <li>
                                <mat-icon class="mat-icon-format">calendar_today</mat-icon>
                                {{ soloPlanet.period }} Days to orbit Parent Star
                            </li>
                            <li>
                                <mat-icon class="mat-icon-format">location_on</mat-icon>
                                {{ soloPlanet.distance_light_year }} Light Years from Earth
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="card col-5 p-5" style="background-color: lightgray; opacity: 70%;">
                        <h2 style="border-bottom: 1px solid grey;">Details</h2>
                        <br>
                        <span>Residing {{ soloPlanet.semi_major_axis }} AU from a {{ soloPlanet.star_type }} ({{ soloPlanet.host_star_mass }} times the mass of Sun)</span>
                        <br>
                        <p>{{ soloPlanet.description }}</p>
                        <br>
                        <div class="space-even">
                            <span style="font-weight:500; font-size: 20px;">Est. Travel Time: {{ soloPlanet.travel_time }} Years</span>
                            <span style="font-weight:500; font-size: 20px;">S$ {{ soloPlanet.cost }}</span>
                        </div>
                        <br>
                        <div class="button-center">
                            <button (click)="toggleBooking()" mat-raised-button class="rounded p-2" style="background-color: lightsteelblue;"><mat-icon>shopping_cart</mat-icon>Add to Booking!</button>
                        </div>
                        <br><br>
                        <div class="row">
                            <!-- BOOKING FORM -->
                            <div *ngIf="bookingBoolean" class="booking-box p-3 rounded">
                                <h3 style="border-bottom: 1px solid lightgray; font-weight: 500; font-size: 20px;">Fill in to book your trip now!</h3>
                                <form [formGroup]="bookingForm" (ngSubmit)="processBooking()">
                                    <input type="hidden" placeholder="{{ dreamer.dreamerId }}" formControlName="dreamerId">
                                    <input type="hidden" placeholder="{{ soloPlanet.name }}" formControlName="planet">
                                    <input type="hidden" placeholder="{{ soloPlanet.thumbnailUrl }}" formControlName="planetThumbnail">
                                    <input type="hidden" placeholder="{{ soloPlanet.cost }}" formControlName="totalCost">
                                    <mat-form-field appearance="outline" class="form-field">
                                        <mat-label>Number of Pax</mat-label>
                                        <mat-select placeholder="Number of pax" formControlName="numberOfPax">
                                            <mat-option *ngFor="let n of [1,2,3,4,5,6,7,8]" [value]="n">
                                                {{n}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field appearance="outline" class="form-field">
                                        <mat-label>Date of Travel</mat-label>
                                        <input style="padding-top: 10px;" matInput [matDatepicker]="picker"
                                            formControlName="travelDate">
                                        <mat-hint align="end">MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <div>
                                        <button type="submit" mat-raised-button class="rounded p-2" style="background-color: lightsteelblue;"><mat-icon>shopping_cart</mat-icon>Book!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>