<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <a class="navbar-brand" href="/dreamer">Interstellarion</a>
    
    <div class="collapse navbar-collapse space-end-end">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"><mat-icon>home</mat-icon></a>
            </li>
            <li>
                <a class="nav-link text-primary" href="/planets"><mat-icon>rocket_launch</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><mat-icon>shopping_cart</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile"><mat-icon>account_circle</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#" (click)="onLogout()"><mat-icon>logout</mat-icon></a>
            </li>
        </ul>
        <div class="search-form rounded">
            <form [formGroup]="searchForm" (ngSubmit)="processSearch()">
                <mat-form-field appearance="outline" class="form-field" color="primary" background-color="white">
                    <mat-label>Search</mat-label>
                    <input type="text" style="padding-top: 10px;" aria-label="Search" matInput size="50" placeholder="Type here" formControlName="searchTerm">
                    <button class="bg-dark text-white search-button" mat-raised-button matSuffix type="submit"><mat-icon>travel_explore</mat-icon></button>
                </mat-form-field>       
            </form>
        </div>
    </div>
</nav>

<marquee behavior="" direction="">
    <mat-icon>keyboard_double_arrow_down</mat-icon>&nbsp;&nbsp; Gravity &nbsp;|&nbsp; <mat-icon>hdr_weak</mat-icon>&nbsp;&nbsp; Planet-Host Star Distance &nbsp;|&nbsp; <mat-icon>solar_power</mat-icon>&nbsp;&nbsp; Solar Insolation &nbsp;|&nbsp; 
    <mat-icon>brightness_5</mat-icon>&nbsp;&nbsp; Star Type &nbsp;|&nbsp; <mat-icon>hourglass_bottom</mat-icon>&nbsp;&nbsp; Travel Time &nbsp;|&nbsp; <mat-icon>paid</mat-icon>&nbsp;&nbsp; Cost
</marquee>

<div *ngIf="notFoundDisplay">
    {{ notFoundMessage }}
</div>

<div *ngIf="listFoundDisplay">
    <div class="title-box">
        <h2>Search Results</h2>
    </div>
    <mat-nav-list>
        <a mat-list-item *ngFor="let planet of planetList" [routerLink]="['/planets',planet.name]">
            <div class="result-box">
                <img src="https://robohash.org/bond" width="40px">
                <span style="font-weight: bold; font-family:'Courier New', Courier, monospace">{{ planet.name }}</span> &nbsp;
                <span style="font-size: small;"><mat-icon>keyboard_double_arrow_down</mat-icon>&nbsp;{{ planet.gravity }}m/s<sup>2</sup></span>
                <span style="font-size: small;"><mat-icon>hdr_weak</mat-icon>&nbsp;{{ planet.semi_major_axis }} AU</span>
                <span style="font-size: small;"><mat-icon>solar_power</mat-icon>&nbsp;{{ planet.solar_insolation }}W/m<sup>2</sup></span>
                <span style="font-size: small;"><mat-icon>brightness_5</mat-icon>&nbsp;{{ planet.star_type }}</span>
                <span style="font-size: small;"><mat-icon>hourglass_bottom</mat-icon>&nbsp;{{ planet.travel_time }} Years</span>
                <span style="font-size: small;"><mat-icon>paid</mat-icon>&nbsp;S${{ planet.cost }}</span>
            </div>
        </a>
    </mat-nav-list>
</div>

<div *ngIf="planetFoundDisplay">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Mass</th>
                <th>Radius</th>
                <th>Period</th>
                <th>Semi-Major Axis</th>
                <th>Temperature</th>
                <th>Distance (Light Years)</th>
                <th>Host Star mass</th>
                <th>Host Star temperature</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ soloPlanet.name }}</td>
                <td>{{ soloPlanet.mass }}</td>
                <td>{{ soloPlanet.radius }}</td>
                <td>{{ soloPlanet.period }}</td>
                <td>{{ soloPlanet.semi_major_axis }}</td>
                <td>{{ soloPlanet.temperature }}</td>
                <td>{{ soloPlanet.distance_light_year }}</td>
                <td>{{ soloPlanet.host_star_mass }}</td>
                <td>{{ soloPlanet.host_star_temperature }}</td>
            </tr>
        </tbody>
    </table>
</div>