body {
    overflow: scroll;
    cursor: pointer;
}

.space-end-end {
    justify-content: space-between;
}

.search-form {
    background-color: aliceblue;
    height: 65px;
}

.search-button {
    height: 65px;
    width: 50px;
}

.book-box {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.nav-box {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    padding: 5px;
}

.planet-style {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}

.mat-icon-format {
    margin-right: 10px;
    overflow: visible;
    margin-top: 5px;
}

.button-center {
    display: flex;
    justify-content: center;
}