<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <a class="navbar-brand" href="/dreamer">Interstellarion</a>
    
    <div class="collapse navbar-collapse space-end-end">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dreamer"><mat-icon>home</mat-icon></a>
            </li>
            <li>
                <a class="nav-link" href="/planets"><mat-icon>rocket_launch</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="/cart"><mat-icon>shopping_cart</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile"><mat-icon>account_circle</mat-icon></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#" (click)="onLogout()"><mat-icon>logout</mat-icon></a>
            </li>
        </ul>
        <div class="search-form rounded">
            <form [formGroup]="searchForm" (ngSubmit)="processSearch()">
                <mat-form-field appearance="outline" class="form-field" color="primary" background-color="white">
                    <mat-label>Search</mat-label>
                    <input type="text" style="padding-top: 10px;" aria-label="Search" matInput size="50" placeholder="Type here" formControlName="searchTerm">
                    <button class="bg-dark text-white search-button" mat-raised-button matSuffix type="submit"><mat-icon>travel_explore</mat-icon></button>
                </mat-form-field>       
            </form>
        </div>
    </div>
</nav>

<body background="https://xlbucket.sgp1.digitaloceanspaces.com/MannCover" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.2)">
    <marquee behavior="" direction="">
        Please make payment within 15 minutes to avoid losing the booking. (You may find Sandbox Paypal Credentials in README.md of my Github Repository)
    </marquee>
    <div class="mt-5 book-box" *ngIf="!bookingBoolean">
        <span>You have no booking that has pending payment</span>
    </div>
    <div class="mt-5" *ngIf="bookingBoolean">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/planets', planet]">
                <div class="nav-box rounded">
                <img class="rounded-circle" width="30" src="{{booking.planetThumbnail}}"/>
                <span class="planet-style">{{booking.planet}}</span>
                <span><mat-icon class="mat-icon-format">groups</mat-icon> {{booking.numberOfPax}}</span>
                <span><mat-icon class="mat-icon-format">calendar_today</mat-icon> {{booking.stringDate}}</span>
                <span><mat-icon class="mat-icon-format">paid</mat-icon> S${{booking.totalCost}}</span>
                </div>
            </a>
        </mat-nav-list>
        <form [formGroup]="bookingForm" (ngSubmit)="processBooking()">
            <div class="button-center mt-5">
                <input type="hidden" formControlName="dreamerId">
                <input type="hidden" formControlName="planet">
                <input type="hidden" formControlName="numberOfPax">
                <input type="hidden" formControlName="stringDate">
                <input type="hidden" formControlName="totalCost">
                <button type="submit" mat-raised-button class="rounded p-2" style="background-color: antiquewhite;"><mat-icon>payments</mat-icon>Checkout!</button>
            </div>
        </form>
    </div>
</body>
