<body background="https://xlbucket.sgp1.digitaloceanspaces.com/BlackHoleCover" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)">
<div class="container">
    <div class="row justify-content-center mt-3">
        <h2>Update Planet Profile</h2>
        <form [formGroup]="updateForm" (ngSubmit)="processUpdate()">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Planet Name</mat-label>
                <input type="text" style="padding-top: 10px;" matInput size="50" placeholder="Type here" formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Description</mat-label>
                <textarea style="padding-top: 10px;" matInput size="50" placeholder="Type here" formControlName="description"></textarea>
            </mat-form-field>
            <br><br>
            <mat-icon>photo_camera</mat-icon> &nbsp; &nbsp; 
            <mat-label>Planet Thumbnail</mat-label> &nbsp; &nbsp; 
            <input type="file" size="50" formControlName="thumbnail" #imageT>
            <br><br>
            <mat-icon>photo_camera</mat-icon> &nbsp; &nbsp; 
            <mat-label>Planet Cover</mat-label> &nbsp; &nbsp; 
            <input type="file" size="50" formControlName="cover" #imageC>
            <br><br>
            <button mat-raised-button type="submit" [disabled]="updateForm.invalid">Update!</button>
        </form>
    </div>
    <hr>
    <div class="row justify-content-center mt-3" >
        <h2>Add Background Images</h2>
        <form [formGroup]="backgroundForm" (ngSubmit)="processBackground()">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Background title</mat-label>
                <input style="padding-top: 10px;" matInput size="50" placeholder="Type here" formControlName="title">
            </mat-form-field>
            <br><br>
            <mat-icon>photo_camera</mat-icon> &nbsp; &nbsp; 
            <mat-label>Background image</mat-label> &nbsp; &nbsp; 
            <input type="file" size="50" formControlName="background" #imageB>
            <br>
            <button mat-raised-button type="submit" [disabled]="updateForm.invalid">Add BG Image!</button>
        </form>
    </div>
</div>
</body>