body {
    overflow: scroll;
}

.space-end-end {
    justify-content: space-between;
}

.container {
    opacity: 70%;
}

.search-form {
    background-color: aliceblue;
    height: 65px;
}

.search-button {
    height: 65px;
    width: 50px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 1px solid black;
    width: 30%;
}

.edit-button {
    width: 110px;
    border: none;
}

.reset-button {
    width: 140px;
    border: none;
}

.delete-button {
    width:120px;
    border: none;
}