body {
    overflow: scroll;
    cursor: pointer;
}

.space-end-end {
    justify-content: space-between;
}

.search-form {
    background-color: aliceblue;
    height: 65px;
}

.search-button {
    height: 65px;
    width: 50px;
}

.filter-nav {
    background-color: lightsteelblue;
    opacity: 80%;
}

.filter-span {
    margin: auto;
    font-size: large;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-box {
    background-color: lavender;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-box {
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    vertical-align: middle;
}

thead {
    padding-bottom: 50px;
}

th, td {
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.mat-icon-format {
    margin-right: 10px;
    overflow: visible;
}